<body >
  <table class="table canvas" cellspacing=0 >
    <tr class="twenty">
      <th colspan=2>
        KP 
        <!--<%= image_tag("KP.png", :alt => "Avatar", :class => "pull-right icone") %>-->
      </th>
      <th colspan=2>Ah</th>
      <th colspan=2>Ah</th>
      <th colspan=2>Ah</th>
      <th colspan=2>Ah</th>
    </tr>
    <tr class="twenty" >
      <td rowspan=3 colspan=2>1</td>
      <td colspan=2>2</td>
      <td rowspan=3 colspan=2>3</td>
      <td colspan=2>4</td>
      <td rowspan=3 colspan=2>5</td>
    </tr>
    <tr class="twenty" >
      <th colspan=2>Bh</th>
      <th colspan=2>Bh</th>
    </tr>
    <tr class="twenty" >
      <td colspan=2>6</td>
      <td colspan=2>7</td>
    </tr>
    <tr class="fifty">
      <th colspan=5>Ch</th>
      <th colspan=5>Ch</th>
    </tr>
    <tr class="fifty" >
      <td colspan=5>8</td>
      <td colspan=5>9</td>
    </tr>
  </table>
</body>
