<body >
  <table class="table canvas" cellspacing=0 >
    <tr class="twenty">
      <th colspan=2>KP</th>
      <th colspan=2>KA</th>
      <th colspan=2>VP</th>
      <th colspan=2>CR</th>
      <th colspan=2>CS</th>
    </tr>
    <tr class="twenty" >
      <td rowspan=3 colspan=2 OnClick="textarea_pop()" >
        <div id="text" style="display:none">
          <textarea name="textarea" id="textarea" >Mon textarea</textarea>
        </div>
      </td>
      <td colspan=2>2</td>
      <td rowspan=3 colspan=2>3</td>
      <td colspan=2>4</td>
      <td rowspan=3 colspan=2>5</td>
    </tr>
    <tr class="twenty" >
      <th colspan=2>Bh</th>
      <th colspan=2>Bh</th>
    </tr>
    <tr class="twenty" >
      <td colspan=2>6</td>
      <td colspan=2>7</td>
    </tr>
    <tr class="fifty">
      <th colspan=5>Ch</th>
      <th colspan=5>Ch</th>
    </tr>
    <tr class="fifty" >
      <td colspan=5>8</td>
      <td colspan=5>9</td>
    </tr>
  </table>
</body>
