<%= image_tag("twitter.png", :alt => "Twitter", :size => "50x50", :class => "icone") %>
<h2>Tweets on this subject</h2>
<div class="container">
  <table cellspacing="15">
    <% @tweets.each do |tweet| %>
      <tr><td>
          <%= image_tag("mushroom.png", :alt => "Avatar", :class => "round") %>
          <div class="author">
            <%="@"+tweet.author%>
          </div>
          <div class="tweet-content">
            <%=tweet.text%>
          </div>
      </td></tr>
    <% end %>
  </table>
</div>
