<section class="round">
<% @tweets.each do |tweet| %>
  <dl> 
    <%= image_tag("mushroom.png", :alt => "Avatar", :class => "pull-left") %>
    <dt><%="@"+tweet.user.name%></dt>
    <dd><%=tweet.text%></dd>
  </dl>
<% end %>
</section>
