<div class="basket" >
  <%= image_tag("twitter.png", :alt => "Twitter", :size => "50x50", :class => "pull-left") %>
  <h2>Tweets on this subject</h2>
  <div class="tweets">
    <%= render 'tweets' %>
  </div>
</div>

