<html>
  <body>
      <p style="text-align: center;"> 
      Je suis une petite poule<br>
      Tu souhaites t'identifier ? C'est par <%= link_to 'ici', new_user_session_path %>
    </p>
  </body>
</html>
