<!DOCTYPE html>
<html>
  <head>
    <title>Tweetag</title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
      <section class="round">
      <%= yield %>
      </section>
  </body>
</html>

